#muscatconversion .recordsearch {clear: right; float: right; position: relative; top: 42px;}
#muscatconversion #exportdate {clear: right; float: right; font-size: 0.83em; margin: 0; padding: 0; position: relative; top: -1.2em; color: gray;}
#muscatconversion .fieldstabs {clear: right; margin-left: 20px; width: 35em;}
#muscatconversion .reportsjumplist {font-size: 0.83em; text-align: right; position: relative; top: -2.6em;}
#muscatconversion .fieldsjumplist {font-size: 0.83em; display: inline; padding-right: 8px;}
#muscatconversion .reportsjumplist *, #muscatconversion .fieldsjumplist * {display: inline;}
#muscatconversion .reportsjumplist option, #muscatconversion .fieldsjumplist option {display: block;}
#muscatconversion .reportsjumplist select, #muscatconversion .reportsjumplist input, #muscatconversion .fieldsjumplist select, #muscatconversion .fieldsjumplist input {font-size: 1em;}
#muscatconversion .fieldsjumplist select {margin: 0;}
#muscatconversion .listing {clear: right;}	/* Clear right following fieldstabs */
#muscatconversion .listing h3 {margin-top: 1.2em;}
#muscatconversion ul.tabs {clear: right;}
#muscatconversion ul.tabs li a {margin-left: 1px;}
#muscatconversion ul.tabs li.selected {font-weight: bold;}
#muscatconversion table.lines.regulated tr td:first-child {width: 60px;}
#muscatconversion table.record tr td.description {color: gray;}
#muscatconversion table.record tr td.description {color: gray;}
#muscatconversion #processed table.record tr td.xPath {color: #bbb; font-family: Lucida Console, courier, monospace; font-size: 0.83em;}
#muscatconversion table.presented tr td:first-child {width: 150px; font-weight: bold;}
#muscatconversion ul.previousnextlinks {float: right; margin: 0; padding: 0; line-height: 16px;}
#muscatconversion ul.previousnextlinks li {display: inline; margin: 0; padding: 0;}
#muscatconversion ul.previousnextlinks li a {border: 0;}
#muscatconversion #marc {overflow-x: scroll;}
#muscatconversion #marc pre strong, #muscatconversion table.reportlisting strong {color: #603; font-weight: normal; background-color: #ddd; opacity: 0.7;}
#muscatconversion table.reports tr td {background-color: white;}
#muscatconversion table.reports tr.info td, #muscatconversion p#reportskey strong.info {background-color: #eee !important; /* !important necessary for printing background colour */}
#muscatconversion table.reports tr.problem td, #muscatconversion p#reportskey strong.problem {background-color: #fcc7c8 !important; /* !important necessary for printing background colour */}
#muscatconversion table.reports tr.ok td, #muscatconversion p#reportskey strong.ok {background-color: #e3f9d9 !important; /* !important necessary for printing background colour */}
#muscatconversion table.reports tr.postmigration td, #muscatconversion p#reportskey strong.postmigration {background-color: #cdd0fe !important; /* !important necessary for printing background colour */}
#muscatconversion #semanticmatcheslinks a, #muscatconversion #semanticmatcheslinks strong {border: 1px solid #ddd; padding: 1px 4px; margin-right: 2px;}
#muscatconversion #semanticmatcheslinks strong {background-color: #eee;}
#muscatconversion #form_definition {font-family: Lucida Console, courier, monospace; line-height: 1.5em; padding: 10px;}
#muscatconversion ul.downloads li a {font-weight: bold; width: 18em;}
#muscatconversion img.extension.file-txt {display: none;}
#muscatconversion table.diacritics {table-layout: fixed; width: 100%; min-width: 1000px;}
#muscatconversion table.diacritics h3 {font-size: 0.9em; height: 7.4em; margin-top: 10px; padding-top: 0;}
#muscatconversion table.diacritics table {margin-bottom: 20px;}
#muscatconversion table.diacritics table tr td:first-child {text-align: right;}
#muscatconversion table.diacritics table tr td.unicode {font-size: 1.4em;}
#muscatconversion table.fieldslisting td.Description {width: 400px;}
#muscatconversion p#exporttarget, #muscatconversion p#reportskey {text-align: right;}
#muscatconversion p#exporttarget strong, #muscatconversion p#reportskey strong {border: 1px solid #ddd; padding: 2px;}
#muscatconversion span.spelling {text-decoration: underline wavy red;}	/* In Chrome, requires "Enable experimental Web Platform features" in about://flags */
#muscatconversion form#spellcheck {text-align: right;}
#muscatconversion form#spellcheck input[type='number'] {width: 60px;}
#muscatconversion p.jumplist {margin-bottom: 2.5em;}
#muscatconversion table.downloads {min-width: 75%;}
#muscatconversion table.downloads td a {display: block; border: 1px solid #ddd; padding: 4px 8px 4px 28px; border-radius: 5px; height: 3.5em; background-color: #f7f7f7; background-position: 8px 8px; min-width: 5em;}
#muscatconversion table.downloads tr.selection td {opacity: 0.7; padding-top: 16px;}
#muscatconversion table.downloads td.filelink {border-bottom: 0; padding-bottom: 0;}
#muscatconversion table.downloads td.total {padding-top: 4px; padding-bottom: 10px; color: #777; font-size: 1em;}
#muscatconversion a[href$='.mrk']  {padding-left: 20px; background: transparent url(/images/icons/page_white_code.png) no-repeat center left;}
#muscatconversion a[href$='.mrc']  {padding-left: 20px; background: transparent url(/images/icons/script_code_red.png) no-repeat center left;}
#muscatconversion p.colourkey {float: right; margin-right: 20px; font-style: italic;}
#muscatconversion p.colourkey span {font-style: normal;}
#muscatconversion span.sourcem {color: #191970;}
#muscatconversion span.sourcev {color: brown;}
#muscatconversion span.stripped {color: gray;}
#muscatconversion table td span.present {background-color: rgba(227, 249, 217, 0.7);}
#muscatconversion table td span.absent {background-color: rgba(252, 199, 200, 0.7);}
#muscatconversion table td span.probable {background-color: rgba(255,255, 153, 0.7);}
#muscatconversion table.tests td, #muscatconversion table.tests th {padding-right: 10px;}
#muscatconversion table.tests span.found {background-color: rgb(200, 255, 200);}
#muscatconversion table.tests span.found.negative {background-color: rgb(252, 199, 200);}
#muscatconversion #searchform {margin-top: 2em;}
#muscatconversion #searchform tr.title td {background-color: #f7f7f7;}
#muscatconversion #searchform tr.title td input {font-size: 1.6em; padding: 7px; margin-right: 10px;}
#muscatconversion ul.orderby {clear: right; float: right; margin: 0 0 15px; padding: 0;}
#muscatconversion ul.orderby li {display: inline; margin: 0 0 0 5px; padding: 0;}
#muscatconversion ul.orderby li a {color: #666; border: 1px solid #ccc; padding: 2px 6px;}
#muscatconversion ul.orderby li a.selected {background-color: #eee; border-color: gray;}
#muscatconversion ul.orderby li a:hover {text-decoration: none; background-color: #eee;}
#muscatconversion #filters select {width: 100px;}
#muscatconversion #regenerate {text-align: right;}
#muscatconversion table.periodicalpamgrouped td:first-child {width: 6em;}
#muscatconversion table.periodicalpamgrouped td:nth-child(2) {width: 35em;}
#muscatconversion table.periodicalpamgrouped td:last-child {width: 25em;}
#muscatconversion p#udcjumplist {margin: 20px 0;}
#muscatconversion p#udcjumplist a, #muscatconversion table.udc a.anchor {border: 1px solid #ddd; padding: 2px 5px; color: gray; background-color: #f7f7f; margin-right: 2px;}
#muscatconversion table.udc th {background-color: #eee; padding-bottom: 5px;}
#muscatconversion table.udc td:first-child {width: 120px;}
#muscatconversion pre#schema {white-space: pre; overflow-x: scroll;}

/* Print styles */
@media print {
	#muscatconversion ul.tabs, #muscatconversion .reportsjumplist, #muscatconversion .recordsearch, #muscatconversion #exportlink, #muscatconversion ul.paginationlinks li:not(.root), #muscatconversion .listing form input[type=submit], #muscatconversion ul.previousnextlinks {display: none;}
	#muscatconversion {font-size: 82%;}
	#muscatconversion p {font-size: 1em;}
	#muscatconversion table.lines td {padding: 0; line-height: 1.3;}
}
